.Container_Cuerpo {
    display: flex;
    width: 98%;
    height: 33.3vh;
    border: 2px solid blueviolet;
    background-color: black;
    justify-content: space-between;
    color: blanchedalmond;
    margin: 20px 5px;
}

.CuerpoTitle{
    font-size: 35px;
    font-family: serif;
    font-style: italic;
}

