.Container_Cuerpo {
    display: flex;
    width: 98%;
    height: 33.3vh;
    border: 2px solid blueviolet;
    background-color: black;
    justify-content: space-between;
    color: blanchedalmond;
    margin: 20px 5px;
}

.CuerpoTitle{
    font-size: 35px;
    font-family: serif;
    font-style: italic;
}


/* Responsive */

/* de 768 a 900 */

@media only screen and (max-width: 768px) and (max-width: 900px) {
    .Container_Cuerpo{
        height: auto;
    }
}

